<?php
// Set this to TRUE to show the full request/response headers
// Useful for diagnosing issues
define('DEBUG', FALSE);

// You should hopefully know all of this info
define('USER_NAME', 'YourIGN');
define('USER_LOGIN', 'Your@mojanglogin.com');
define('USER_UUID', 'YourUUID');

// For these, you will need to navigate to https://minecraft.net/profile
// From there, check the page source for "authenticityToken"
and copy that value here. It will be a long hexadecimal string
define('AUTH_TOKEN', '');
// From that same page, open up your network inspector and find your cookies.
// paste them all here- it'll be a huge ugly block.
define('USER_COOKIE', '');

?>
