#container {
    overflow: hidden;
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
}

#editor {
    width: 100%;
    flex-basis: 100%;
}

#header {
    width: 100%;
}

#saveButton {
    width: 8em;
    height: 2em;
}