#container {
    overflow: hidden;
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
}

#editor {
    width: 100%;
    flex-basis: 100%;
}

#header {
    width: 100%;
    display: flex;
    flex-direction: row;
    margin-bottom: 4px;
}

#saveButton {
    width: 8em;
    height: 2em;
}

#userInfo {
    flex-basis: 100%;
    text-align: right;
    margin-right: 1em;
    margin-right: 1em;
}

#loginButton {
    text-decoration: underline;
    color: blue;
    font-size: 0.9em;
    cursor: pointer;
}

#logoutButton {
    text-decoration: underline;
    color: blue;
    font-size: 0.9em;
    cursor: pointer;
}