
#tabs {
    overflow: hidden;
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
}

#tablist {
    flex: 0 0 2em;
}

.ui-tabs-panel.flextab {
    display: flex;
    min-height: 0;
}

.flexContainer {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
}

.details {
    flex-grow: 1;
    margin-left: 2em;
    display: flex;
    flex-direction: column;
}

.scrollingTab {
    overflow-y: auto;
    flex: 0 0 auto;
}

.propertyKeys {
    padding: 1em;
    border: 1px solid #010101;
    margin: 6px;
}

.propertyAlias {
    color: #888888;
}

.propertyDescription {
    background: #EEEEEE;
    padding: 6px;
}

.propertyType {
    background: #DDDDFF;
    padding: 6px;
    cursor: pointer;
}

.propertyTypeDetails {
    background: #EEEEFF;
    padding: 6px;
    display: flex;
    flex-direction: column;
    min-height:0
}

.propertyTypeDescription {
    background: #EEEEEE;
    padding: 6px;
}

.descriptionLine {
    margin-bottom: 1em;
}

.propertyTypeOptions {
    padding: 0.5em;
    background: #DDDDDD;
    overflow-y: auto;
}

.parameterList {
    overflow-y: auto;
}

.parameterContainer {
    display: flex;
    flex-direction: row;
    min-height:0
}

.baseProperty {
    font-style: italic;
}

.exampleContainer {
    background: #EEFFEE;
    padding-left: 6px;
    padding-top: 2px;
    padding-bottom: 6px;
}

.exampleContainer > a {
    margin-right: 1em;
}

.defaultValue {
    background: #EEFFEE;
    padding-left: 6px;
    padding-top: 2px;
    padding-bottom: 6px;
}

.optionsTitle {
    font-weight: bold;
}

.propertyTypeOptions table tbody tr td:first-child {
    font-weight: bold;
    padding-right: 2em;
}

.prefix {
    color: #666666;
}

.category {
    background: #DDDDFF;
    padding: 6px;
}

.importance-100 {
    background: #FFFFFF;
}

.importance-75 {
    background: #EEEEEE;
}

.importance-50 {
    background: #DDDDDD;
}

.importance-25 {
    background: #CCCCCC;
}

.importance-0 {
    background: #BBBBBB;
}

.importance-- {
    background: #888888;
}