.ui-selectable .ui-selecting {
    background: #FECA40;
}

.ui-selectable .ui-selected {
    background: #F39814;
    color: white;
}

.ui-selectable {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 100%;
}

.ui-selectable li {
    margin: 3px;
    padding: 0.4em;
    height: 32px;
    white-space: nowrap;
}

.ui-selectable li:hover {
    background: #DDDDFF;
}

.navigation {
    position: absolute;
    left: 0px;
    width: 330px;
}

.details {
    position: absolute;
    left: 370px;
    bottom: 30px;
    top: 60px;
    width: 500px;
}

.scrollingTab
{
	position:absolute;
	top: 54px;
	bottom: 24px;
	left: 24px;
	right: 24px;
	overflow: auto;
}

.code {
    background: #DDDDDD;
    font-family: monospace;
    margin: 2px;
}

.titleBanner {
    width: 600px;
    padding: 5px;
    font-size: 1.2em;
    color: white;
    background-color: #222288;
}
