
#tabs {
	position: absolute;
	overflow: hidden;
	top: 0px;
	left: 0px;
	right: 0px;
	bottom: 0px;
}

.scrollingTab {
	position:absolute;
	top: 54px;
	bottom: 24px;
	left: 24px;
	right: 24px;
	overflow: auto;
}

.propertyKeys {
    padding: 1em;
    border: 1px solid #010101;
    margin: 6px;
}

.propertyAlias {
    color: #888888;
}

.propertyType {
    background: #DDDDFF;
    margin: 6px;
    cursor: pointer;
}

.propertyTypeDetails {
	display: none;
    background: #EEEEFF;
    margin: 6px;
}

.propertyTypeDescription {
    background: #EEFFFF;
    margin: 6px;
}

.descriptionLine {
    margin-bottom: 1em;
}

.propertyTypeOptions {
    padding: 0.5em;
    background: #DDDDDD;
    max-height: 6em;
	overflow: auto;
}